* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poopins', sans-serif;
}

body {
    color: #ededed;
    background: #061b2c;

}

/* HEADER DESIGN */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}


#logo {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

#logo:hover {
    color: #0ef;
    transition: 1s;
    cursor: pointer;
}


.navbar {
    margin-right: -2rem;
}

.navbar img {
    width: 3rem;
    display: none;
}

.navbar a {
    text-decoration: none;
    display: inline-block;
    padding: .625rem .9375rem;
    margin-left: 2.125rem;
    color: #fff;
    font-weight: 600;
    transition: .3s;
    /* Transition is used to when we click on the tab it will take .3 sec to turn off glow*/
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a:hover {
    color: black;
    border-radius: 2rem;
    background-color: cyan;
    transition: .5s ease-in-out;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 90vh;
    background-color: #061b2c;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 1.875rem 10%;
    margin-top: 6.25rem;

}


.home-content {
    max-width: 32.25rem;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    animation: SlideBottom .5s ease forwards;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1.875rem;

}

.home-content h1 {
    font-size: 3.125rem;
    line-height: 4rem;
    font-weight: 700;
    opacity: 0;
    animation-delay: 1s;
    animation: SlideRight 1s ease forwards;
    color: cyan;
}

.home-content p {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    opacity: 0;
    animation: slideleft .7s ease-in forwards;
    grid-template-columns: repeat(auto-fit);
    align-items: center;
    flex-wrap: wrap-reverse;
}


.home img {
    border: .2rem solid #0ef;
    border-radius: 50%;
    height: auto;
    width: auto;
}

.home-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.25rem;
    color: #0ef;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s* var(--i));
    margin: 1.875rem .938rem 1.875rem 0;
}

.home-icons a:hover {
    color: #061b2c;
    background-color: #0ef;
    box-shadow: 0 0 1.125rem #0ef;
    transition: 1s;
}

.btn-box {
    display: inline-block;
    color: black;
    background-color: #0ef;
    text-decoration: none;
    padding: .625rem .938rem;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: .938rem;
    letter-spacing: .1rem;
}

.btn-box:hover {
    box-shadow: 0px 0px .625rem cyan;
    transition: .5s;
    cursor: pointer;
    background-color: black;
    color: cyan;
}

.text {
    color: burlywood;
}

/* ----------------------------------------------------------------------------------------- */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.about-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.about-text h2 {
    font-size: 3.75rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: chocolate;
    line-height: 2;
    margin: 1rem 0rem;
}


.about-text p {
    color: aliceblue;
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 1.25rem;
    padding: 1rem 2rem;
    line-height: 2rem;
    justify-content: center;
    align-items: center;
}



.btn-box1 {
    display: inline-block;
    border-radius: 2.5rem;
    padding: 1rem 1.25rem;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    background-color: #0ef;
    color: #061b2c;
    opacity: 0;
    animation: SlideUp .3s ease forwards;
    margin-left: 3.125rem;
    margin-top: 1rem;
}

.more-about-me a {
    text-decoration: none;
}

.btn-box1:hover {
    box-shadow: 0px 0px 1.5rem #0ef,
        0px 0px 1.5rem #0ef;
    color: #0ef;
    background-color: #000000;
    transition: .7s;
    cursor: pointer;
}

#Services {
    color: aliceblue;
    margin-bottom: 4rem;
    line-height: 1.4;
    font-size: 1.25rem;
}

.sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.75rem;
    padding-bottom: 1.875rem;
    animation: slideTop .3s ease-in forwards;
    opacity: 0;
}

.sub-title span {
    color: #0ef;
    letter-spacing: .1rem;
}

.Services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
    grid-gap: 2.5rem;
    margin-top: 3.125rem;
}

.Services-list .list-card {
    padding: 1.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-right: .625rem;
    border-radius: 1.25rem;
    transition: 0.7s, transform 0.5s;
    box-shadow: .1rem .1rem 1.25rem rgb(39, 39, 123),
        .1rem .1rem 2.5rem rgb(76, 57, 94);
}

.Services-list .list-card h2 {
    color: cyan;
}

.Services-list div i {
    font-size: 1.25rem;
    font-weight: 600;
}

.Services-list div h2 {
    font-size: 2.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.Services-list div a {
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 1.875rem;
    word-spacing: .2rem;
}

.read {
    padding: .75rem 1.875rem;
    border-radius: 2.5rem;
    display: inline-block;
    background-color: #0ef;
    font-size: 1rem;
    color: #081b29;
    text-decoration: none;
    opacity: 0;
    animation: SlideUp .3s ease-in forwards;
}

.read:hover {
    box-shadow: 0px 0px 1.5rem #0ef,
        0px 0px 1.5rem #0ef;
    color: #0ef;
    background-color: #000000;

    transition: .7s;
    cursor: pointer;

}

.skills-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}


.skills-list div:hover {
    transform: tranlateY(10%);
}

.container {
    padding: 5.625rem;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.skills-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.container1 {
    width: 600px;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
    grid-template-columns: repeat(auto-fit);
}


.radial-bar {
    grid-template-columns: repeat(auto-fit);
}

.heading1 {
    text-align: center;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}


.Technical-bars .bar {
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showtext .5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: .625rem;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 70%;
}

.progress-line.Java span {
    width: 50%;
}

.progress-line.JavaScript span {
    width: 60%;
}

.progress-line.C span {
    width: 60%;
}

.progresss-line span::after {
    position: absolute;
    padding: 1px .5rem;
    background-color: #000000;
    color: #fff;
    font-size: 0.75rem;
    border-radius: .188rem;
    top: -1.75rem;
    right: -1.25rem;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}


.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: .5rem solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    top: -10px;
    right: 0;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}


.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 10.625rem;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 9.375rem;
    height: 10rem;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 150;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 17px;
    animation: showtext 0.5 1s linear forwards;
    opacity: 0;
}

.progress-bar .text1 {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5 1s linear forwards;
    opacity: 0;
}

@keyframes showtext {
    100% {
        opacity: 1;
    }
}

.sub-title {
    margin: 2rem 0;
}

#project-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    padding-top: 8.125rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-text h2 {
    font-size: 3.125rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
}


.main-text h2 span {
    color: #0ef;
}


.project-content {
    display: grid;
    grid-template-columns: auto auto;
    /* padding: 0rem 0rem; */
    align-items: center;
    justify-content: center;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 3.125rem;
}

.row img {
    width: 30rem;
    display: block;
    border-radius: .5rem;
    transition: transform 0.5s;
    margin: 1.25rem 1rem;
    height: 20rem;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), #0ef);
    position: absolute;
    border-radius: .5rem;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding: 0 2.5rem;
    transition: height 0.5s;

}

.layer h5 {
    color: rgb(173, 0, 66);
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.layer p {
    color: #F73D93;
    line-height: 1.5rem;
    font-size: 1rem;
}

.layer i {
    color: #ff004f;
    margin-top: 1.25rem;
    font-size: 1.25rem;
    background: #331D2C;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.2);
    margin-left: 1rem;
}

.row:hover .layer {
    height: 80%;
}


.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    align-items: center;
    gap: 3rem;
    padding-left: 1.875rem;
    margin-top: 8.125rem;
}

.contact-text h2 {
    font-size: 3.75rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 6.25rem;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 1rem 0;
    color: rgb(228, 228, 228);
    font-size: 1.25rem;
    font-weight: 600;
}

.contact-text p {
    margin-bottom: 2rem;
    color: rgb(177, 177, 177);
    font-size: 1rem;
    line-height: 1.875rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: .625rem;
    display: block;
}

.contact-list i {
    color: #0ef;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: .1rem solid #0ef;
    border-radius: 50%;
    font-size: 1.25rem;
    text-decoration: none;
    background-color: #0ef;
    color: rgb(0, 0, 0);
    margin: 1.875rem 1rem 1.875rem 0rem;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s* var(--i));
}

.contact-icons i:hover {
    background-color: #000;
    color: #0ef;
    box-shadow: 0 0 1.25rem #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 1.125rem;
    background: #9BBEC8;
    color: #164863;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 12.5rem;
}

.contact-form #send {
    display: inline-block;
    border-radius: 2.5rem;
    padding: 1rem 1.25rem;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: .2rem;
    font-weight: 600;
    background-color: #0ef;
    color: #061b2c;
}


.no-spinners::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    display: none;
}

.contact-form #send:hover {

    box-shadow: 0px 0px 1.5rem #0ef,
        0px 0px 1.5rem #0ef;
    color: #0ef;
    background-color: #000000;

    transition: 1s;
    cursor: pointer;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 1.25rem;
    padding: .625rem;
    border-radius: 50%;
}

.top i:hover {
    color: #0ef;
    background: #000;
    box-shadow: 0 0 1rem #0ef;
    transition: .6s;
}

footer {
    margin-top: .625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: cyan;
}




/* KEYFRAME FOR KUNAL LOGO */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideleft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* KEYFRAME FOR NAVBAR LOGO */
@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes SlideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes SlideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes SlideUp {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    100% {
        transform: translateY(30px);
        opacity: 1;
    }

}


@media only screen and (max-width: 1350px) and (min-width: 1150px) {
    /* .container1 {
        margin: auto auto;
        grid-template-columns: repeat(auto-fit);
    } */

    .Services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 2.5rem;
        margin-top: 3.125rem;
    }

    .about-text h2 {
        font-size: 3.75rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 1150px) and (min-width: 1000px) {
    .home {
        padding: 1.875rem 5%;

    }


    .home-content {
        max-width: 45rem;
    }

    .home-content p {
        max-width: 30rem;
    }

    .home img {
        border: .2rem solid #0ef;
        border-radius: 50%;
        height: auto;
        width: auto;
        margin-right: -5rem;
    }

    .about-text h2 {
        font-size: 3.75rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-text p {
        color: aliceblue;
        font-size: 1.7rem;
        margin-bottom: 1.25rem;
        line-height: 2rem;
        justify-content: center;
        align-items: center;
        /* max-width: 70rem; */
    }

    .sub-title {
        text-align: center;
    }

    .Services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2.5rem;
        margin-top: 3.125rem;
    }

}


@media only screen and (max-width: 1000px) {
    .about-text h4 {
        font-size: 1.25rem;
        font-weight: 600;
        color: chocolate;
        line-height: 2rem;
        margin: .938rem 0 1.25rem 3.125rem;
    }

    .about-text h2 {
        font-size: 3.75rem;
        margin-top: 0;
        margin-left: 3.125rem;
        margin-top: 6.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-text p {
        color: aliceblue;
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #logo {
        margin-left: 0px;
    }

    .project-content {
        display: grid;
        grid-template-columns: auto auto;

        align-items: center;
        justify-content: center;
    }

    .row {
        position: relative;
        overflow: hidden;
        border-radius: .5rem;
        cursor: pointer;
        margin-top: 3.125rem;
    }

    .row img {
        width: 25rem;
        display: block;
        border-radius: .5rem;
        transition: transform 0.5s;
        margin: 1.25rem 1rem;
        height: 20rem;
    }
}



@media only screen and (max-width: 915px) {
    .navbar img {
        width: 3rem;
        display: block;
        margin-right: 1rem;
    }

    .navbar a {
        display: none;
    }
}

@media only screen and (max-width: 850px) and (min-width: 575px) {
    .home {
        flex-direction: column;
        position: relative;
        width: 100%;
        justify-content: space-between;
        height: 90vh;
        background-color: #061b2c;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.875rem 1rem;
        margin-top: 10rem;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }

    .about .about-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about .about-text h2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .home img {
        border: .3rem solid #0ef;
        border-radius: 50%;
        margin-top: 1rem;
        width: 15rem;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-left: -3rem;
    }

    .navbar img {
        width: 4rem;
        display: block;
        margin-right: 1rem;
    }

    .navbar a {
        display: none;
    }



    .btn-box1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 1.5rem 3rem;
        width: 25rem;
        font-size: 1.5rem;
    }

    /* .project-content {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
    } */

    .project-content {
        display: grid;
        grid-template-columns: auto;
        padding: auto;
        align-items: center;
        justify-content: center;
    }

    .row {
        position: relative;
        overflow: hidden;
        border-radius: .5rem;
        cursor: pointer;
        margin-top: 3.125rem;
    }

    .row img {
        width: 30rem;
        display: block;
        border-radius: .5rem;
        transition: transform 0.5s;
        margin: 1.25rem 1rem;
        height: 20rem;
    }


    .skills-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 575px) {

    .home {
        min-width: 10rem;
    }

    .home img {
        margin-right: 7rem;
        margin-top: 2rem;
    }

    .home-content {
        padding-right: -15rem;
    }

    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0
    }

    .about-text p {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: baseline;
    }

    .skills-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container1 {
        width: 25rem;
        height: 31.25rem;
        align-items: center;
        justify-content: center;
        padding: 2.5rem 0px;
        grid-template-columns: repeat(auto-fit);
    }

    .project-content {
        display: grid;
        grid-template-columns: auto;
        padding: auto;
        align-items: center;
        justify-content: center;
    }

    .about-text h2 {
        margin-top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text p {
        margin-left: 1rem;
        max-width: 100%;
    }

    .project-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 550px) {
    .home {
        display: flex;
    }

    .home-content {
        min-width: 30rem;
        padding: 1rem;
    }

    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 35rem;
        flex-wrap: wrap;
        margin-right: -3rem;
        margin-top: 7rem;
    }

    .about-text h4,
    h2 {
        padding-right: 3rem;
    }

    .more-about-me {
        margin-right: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Services {
        margin-right: -3rem;
    }

    .sub-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skills-section {
        margin-left: 5rem;
    }

    #project-section {
        margin-left: 4rem;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4rem;
    }

    footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 500px) {
    .skills-section {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: fit-content;
        margin-right: -4rem;
    }

    #project-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -4rem;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -5rem;
    }

    footer {
        margin-right: -6rem;
    }
}

@media only screen and (max-width: 350px) {
    .about-text h2 {
        margin-right: 3rem;
    }

    .about-text h4 {
        margin-right: 3rem;
    }

    .skills-section {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: fit-content;
        margin-right: -10rem;
    }

    #project-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -10rem;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -13rem;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -10rem;
    }
}